.carousel-control-prev{
    height: 40px;
}

.carousel-control-next{
    height:40px
}

.carousel-item img{
    height: 650px;
}

.main-card-1{
    margin-left: 40px;
}

.main-card-1 h2{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: large;
}

.card-1 img{
    margin-right: 10px;
    border-radius: 20px;
    width: 200px;
    height: 300px;
}

.div-card{
    background-color: rgb(36, 35, 35);
    display: flex;
    margin-left: 40px;
}